*.pyc
*~
build
docs/_static/favicon.ico
docs/_static/logo.png
pydoop/config.py
pydoop/version.py
src/hadoop*/libhdfs/config.h
src/hdfs/hdfs.xcodeproj
src/hdfs/hdfs/*

dist

examples/**/*.class
examples/**/*.jar

test/timings/dataset

pydoop.egg-info

.DS_Store
.idea
*.xcodeproj
