include pipes_ubuntu.patch
include src/*.hpp
exclude src/HadoopPipes.cc
exclude src/StringUtils.cc
exclude src/SerialUtils.cc
exclude src/_pipes_main.cpp
exclude src/_hdfs_main.cpp
include test/all_tests_pipes.py
include test/all_tests_hdfs.py
include test/all_tests.py
exclude test/test_return_iref.py
include examples/README.rst
recursive-include examples/wordcount *
recursive-include examples/self_contained *
include pydoop/hadoop_serial.py
include pydoop/text_protocol.py
include pydoop/binary_protocol.py
include pydoop/pipes_runner.py
recursive-include docs *
